<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Icons / Bootstrap - NiceAdmin Bootstrap Template</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <%- include('./style') %>
  </head>

  <body>
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
      <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
          <a class="nav-link collapsed" href="/getimg">
            <i class="bi bi-grid"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <!-- End Dashboard Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" href="/upload">
            <i class="bi bi-upload"></i>
            <span>Upload</span>
          </a>
        </li>
        <!-- End Upload Nav -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="/datatable">
            <i class="bi bi-database-fill"></i>
            <span>Data Table</span>
          </a>
        </li>
        <!-- End Data Table Nav -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="/img-data">
            <i class="bi bi-image"></i>
            <span>Images</span>
          </a>
        </li>
        <!-- End images Nav -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="/login">
            <i class="bi bi bi-box-arrow-in-right"></i>
            <span>Login</span>
          </a>
        </li>
        <!-- End images Nav -->
      </ul>
    </aside>
    <!-- End Sidebar-->

    <%-include('./script') %>
  </body>
</html>
